:root{
  --header-bg-color: #4297a0;
  --main-background: #f4eae6;
  --accent-color: #2f5061;
  --button-color: #98d7c2;
  --font-color: #3F383B;
  --header-text-size: 125%;
  --header-title-text-size: 250%;
}


.App {
  text-align: center;
  background-color: var(--main-background);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parent {
  flexDirection: "row";
  justifyContent: "space-between";
}

.TopMenu {
  background-color: var(--header-bg-color);
  padding-top: 5vh;
  padding-right: 5vw;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item {
}

.parent-grid-container {
  flexDirection: "row";
  justifyContent: "space-between";
  display: grid;
  grid-template-columns: auto auto;

}

.leftalign {
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}

.rightalign {
  text-align: right;
  margin-top: auto;
}

.whitetext {
  color: white;
}

.errorpage_404text {
  font-size: 5em;
  margin: 0px;
  padding: 0px;
}

.errorpage {
  text-align: center;
  background-image: linear-gradient(125deg, var(--accent-color), var(--button-color));
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: white;
  font-size: 1.5em;
}

.errorpage-container {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.mainpage-container {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--header-bg-color);
  border-radius: 5px;
  max-width: 60vw;
  padding: 5vh 5vw 5vh 5vw;
  box-shadow: 5px 5px 5px gray;
}

.mainpage-textline {
  text-decoration: none;
  color: var(--button-color);
}

.TopMenu-button {
  transition-duration: .4s;
  margin: 0vh;
  padding: 0rem 1rem 0rem 1rem;
  font-size: var(--header-text-size);
  text-decoration: none;
  color: var(--font-color);
}

.TopMenu-button:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}

.TopMenu-buttongroup {
  block-size: fit-content;
  width: fit-content;
  padding: 0px;
  margin: 10px;
}

.TopMenu-title-text {
  text-align: left;
  text-decoration: none;
  font-size: var(--header-title-text-size);
  padding: 1rem 1rem 0rem 1rem;
  color: var(--font-color);
}

.settings-container {
  background-color: var(--header-bg-color);
  border-radius: 5px;
  margin: 5vh 5vw 5vh 5vw;
  padding: 3vh 3vw 3vh 3vw;
  box-shadow: 5px 5px 5px gray;
}

.settings-title {
  border-bottom: 2px solid var(--accent-color);
  color: var(--font-color);
  margin: 0px;
  padding:  0vh 2vw 2vh 2vw;
}

.settings-sub {
  border-bottom: 1px solid var(--accent-color);
  margin: 0px;
  padding: 2vh 20vw 2vh 15vw;
}

.settings-headings {
  color: var(--font-color);
  text-align: left;
}

.settings-delete-div {
  margin: 4vh 0vw 1vh 0vw;
}

.ui.button.settings-select-button {
  text-align: right;
  margin-left: auto;
  block-size: fit-content;
  width: fit-content;
  transition-duration: .4s;
  padding: 0rem 1rem 0rem 1rem;
  font-size: var(--header-text-size);
  text-decoration: none;
  color: black;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: var(--button-color);
}

.ui.button.settings-select-button:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}

.ui.button.settings-delete-button {
  transition-duration: .4s;
  margin: 0vh;
  padding: 0rem 1rem 0rem 1rem;
  font-size: var(--header-text-size);
  text-decoration: none;
  color: black;
  border: 1px solid gray;
  background-color: gray;
  border-radius: 5px;
}

.ui.button.settings-delete-button:hover {
  border: 1px solid red;
  background-color: red;
  color: white;
  cursor: pointer;
}

.file-upload{
    display: none;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    width: 300px;
}

.file-upload_text {
  background-color: white;
  border-radius: 50px;
}

.budgetform-container {
  margin: 5vh 5vw 5vh 5vw;
}

.budgetform-title{
  border-bottom: 2px solid var(--accent-color);
  color: var(--font-color);
  padding:  0vh 2vw 2vh 2vw;
}

.total-income{
  padding:  0vh 2vw 2vh 2vw;
}

.login-container {
  background-color: var(--header-bg-color);
  border-radius: 5px;
  margin: 5vh 5vw 5vh 5vw;
  padding: 3vh 3vw 3vh 3vw;
  box-shadow: 5px 5px 5px gray;
}

.login-title {
  border-bottom: 2px solid var(--accent-color);
}

.login-username {
  padding: 2px;
  margin-bottom: 5px;
}

.login-password {
  padding: 2px;
  margin-bottom: 5px;
}

.login-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 58px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.login-button:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}


.signUp-container {
  background-color: var(--header-bg-color);
  border-radius: 5px;
  margin: 5vh 5vw 5vh 5vw;
  padding: 3vh 3vw 3vh 3vw;
  box-shadow: 5px 5px 5px gray;
}

.signUp-title {
  border-bottom: 2px solid var(--accent-color);
}

.signUp-username {
  padding: 2px;
  margin-bottom: 5px;
}

.signUp-password {
  padding: 2px;
  margin-bottom: 5px;
}

.ui.button.signUp-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 58px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.ui.button.signUp-button:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}
